:root{
    --title-main-color:#212121;
    --logo-secondary-color:#2196F3;
    --title-text-color:#757575;
    --background-color:#FFFFFF;
    --hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4));
}

