.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 603px;
    @include tablet {
        min-height: 463px;
    }

    @include desktop {
        min-height: 252px;
    }
    }

.footer__logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    @include desktop{
        font-size: 26px;
        line-height: 1.19;
    }
 }

.logo__web-part{
    color:var(--logo-secondary-color);
    }

 .footer__address-list .footer__address-item:not(:last-child){
    margin-bottom: 8px;
    @include desktop{
        margin-bottom: 9px;
    }
} 

.footer__address-list{
    margin-bottom: 60px;
    @include desktop{
        margin-bottom: 0;
       
    }
}

.footer__address-list .footer__address-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: var(--logo-secondary-color);
    }
    }

.footer__address-list .map-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    color: var(--logo-secondary-color);
    }
    }

.footer__title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    }

.footer__contact-links{
    margin-left: auto;
    margin-right: auto;
    @include desktop{
        margin-left: 0;
        margin-right: 0;
    }
}

.footer__soc{
    align-items: baseline;
    margin-bottom: 60px;

    @include tablet{
    margin-left: auto;
    margin-right: auto;
    }    
    @include desktop{
        margin-left: 70px;
        margin-right: 93px;
    }
}

.footer__soc-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

.footer__soc-icon{
    fill: var(--background-color);
    }

.footer__soc-link{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--logo-secondary-color);
    }
    }

.footer__container{
    display: block;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        text-align: left;
    }
}

.footer-element{
    text-align: center;
    @include desktop{
        text-align: left;
    }
}